/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
main {
  height: 100%;
  margin: 0;

}





//  background-image: linear-gradient(45deg, #2b405f, #212529);

// GRADIENT BACKGROUND
@keyframes gradient {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

/* Dark Mode Styles */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(45deg, #2b405f, #212529);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

/* Light Mode Styles */
body.light-mode::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(45deg, #a6acad, #4f67d3d0);
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

/* Navbar Styles */
.navbar-dark.bg-dark {
  background-color: #212529 !important;
}

.navbar-light.bg-light {
  background-color: #f8f9fa !important;
}

// ===================== GRADIENT BACKGROUND


//BLINK ANIMATION
@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 3s infinite;
}


// ===================== BLINK ANIMATION



// rounded corners
.rounded {
  border-radius: 10rem;
}


//tech-stack
.tech-stack-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));


  justify-content: center;
  gap: 20px;
  padding: 20px;
  //make it 3 box per row
  grid-template-columns: repeat(3, 1fr);



}

@media (max-width: 768px) {


  .tech-stack-container {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));

  }
}

.tech-box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.tech-box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}

.tech-box img {
  max-width: 80%;
  max-height: 80%;
}


// footer

footer {
  flex-shrink: 0;

  background-color: #f8f9fa;

  color: #333;

  padding: 20px 0;

  text-align: center;

  border-top: 1px solid #dee2e6;

}