.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
    padding: 20px;
}

.project-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;








    &:hover {
        transform: scale(1.05);
    }

    width: 300px;
    height: 550px;
    margin: 20px auto;





    .project-image {
        width: 100%;
        height: 50%;
        object-fit: cover;
        background-color: #f0f0f0;
    }

    .project-description {
        // padding: rem;
        color: #333;
        height: 15%;


    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
    }

    .btn-primary,
    .btn-secondary {
        flex: 1;
        width: calc(50% - 10px);
        margin-right: 10px;
        background-color: goldenrod;
        color: black;


        border: none;
    }

    //hover effect for buttons
    .btn-primary:hover,
    .btn-secondary:hover {
        background-color: #65692a;
    }

    .btn-secondary {
        margin-left: 10px;
    }

    .tech-logos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 1rem;
        width: 100%;
        justify-content: center;

        .tech-logo {

            width: 30px;
            height: 30px;
            object-fit: contain;
            margin: 0.5rem;
        }
    }
}


@media (max-width: 1200px) {
    .projects-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 900px) {
    .projects-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 600px) {
    .projects-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}