.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

    width: 80%;

    margin: 0 auto;

    padding: 20px;

    box-sizing: border-box;


    border-radius: 8px;

    overflow: auto;



    @media (max-width: 768px) {
        height: 90vh;

        width: 90%;

    }

}


.form-control-lg {
    height: 50px;

    font-size: 18px;

    border-radius: 8px;

    padding: 10px;

}


#description.form-control-lg {
    min-height: 170px;

    min-width: 600px;

    @media (max-width: 768px) {
        height: 10%;
        min-height: 30px;

        min-width: 300px;
        width: 10%;


    }
}

.links a {

    text-decoration: none;
    color: gold;
    font-size: 1.5rem;
    padding: 10px;

}